.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  //PAGES STYLES
  //variables
$dark:#000;
$white:#ffffff;
$primary:#FF4382;
$secondary:#282828;
$extra:#191A23;
$radius:10px;
$hover:#FB1361;
$footer:#282828;
$fborder:#383838;
//mixin
  @mixin btn{
    background-color: $primary;
    color: $white;
    box-shadow: none;
    border-radius: $radius;
    font-size: 14px;
    transition: all 0.4s;
    &:hover{
      background-color: $hover;
    }
  }
  @mixin overlay($t:0,$l:0,$b:auto,$r:auto,$w:100%,$h:auto,$bg:#000,$op:1) {
    position: absolute;
    content: "";
    width: $w;
    height: $h;
    top:$t;
    left:$l;
    right: $r;
    bottom: $b;
    background-color: $bg;
    opacity: $op;
  }
  *{
    font-family: 'Roboto', sans-serif;
    color: $white;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  body{
      background-color: $dark;
  }
  /* header css */
.nav_area {
    nav.navbar {
      padding: 0 1rem;
      .navbar-toggler{
        border:none;
        &[aria-expanded='true']{
          .toggle{
            border:none;
            &::after{
              transform: rotate(45deg);
              top:50%;
            }
            &::before{
              transform: rotate(-45deg);
            }
          }
        }
        .toggle{
          height:25px;
          width:30px;
          display: block;
          border-bottom: 2px solid $white;
          position: relative;
          &::after{
            @include overlay($t:0,$l:0,$b:auto,$r:auto,$w:100%,$h:2px,$bg:$white,$op:1);
            transition: all 0.4s;
          }
          &::before{
            @include overlay($t:50%,$l:0,$b:auto,$r:auto,$w:100%,$h:2px,$bg:$white,$op:1);
            transform: translateY(-50%);
            transition: all 0.4s;
          }
        }
      }
     
      .navbar-brand {
        padding: 0;
        img {
          height: 30px;
        }
        h3{
          font-family: 'M PLUS Rounded 1c', sans-serif;
          font-size: 36px;
          color: $white;
          position: relative;
          padding-left: 12px;
          margin-bottom: 0;
          &::before{
          @include overlay($t:auto,$l:0,$b:9px,$r:auto,$w:8px,$h:8px,$bg:$primary,$op:1);
            border-radius: 50%;
        }
        }
      }
      .navbar-nav{
        .nav-item{
      padding-top: 18px;
      &:last-child{
        padding-left: 32px;
      }
          .nav-link{
            color: $white;
            font-size: 16px;
            padding: 8px 20px;
           padding-bottom: 18px;
           transition: all 0.4s;
          position: relative;
          &.active{
              font-weight: bold;
            &::before{
              @include overlay($t:auto,$l:50%,$b:0,$r:auto,$w:65%,$h:4px,$bg:$primary,$op:1);
              transform: translateX(-50%);
            }
            }
           &:hover{
             color: $primary;
           }
          }
         
          .btn{
            background-color: $primary;
            border-radius: $radius;
            color: $white;
            font-size:14px;
            font-weight: bold;
            padding: 12px 26px;
            margin-bottom: 18px;
          }
        }
      }
    }
    @media (max-width:991px) {
    padding: 16px 0;
    nav.navbar .navbar-nav {
      .nav-item{
        &.active{
          &:before{
            background-color: transparent;
          }
        }
        &:last-child{
          padding-left: 0;
        }
        .nav-link{
          padding: 0;
        }
      }
    }
    }
  }
//   banner css
.banner{
    padding: 75px 0;
    color: $white;
    .content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    }
    .left{
      width: 65%;
      h3{
        font-size: 56px;
        font-weight: bold;
        margin: 0;
      }
      p{
        margin-top: 32px;
        margin-bottom: 40px;
        max-width: 458px;
        font-size: 14px;
      }
      .cta{
        height: 54px;
        display: flex;
        input{
          background-color: $secondary;
          border:none;
          border-radius: $radius;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          color: $white;
          padding-left: 16px;
          width: 300px;
    &::placeholder{opacity: 0.7;}
          &:focus{
            outline: none;
          }
          &::placeholder{
          color: rgba(255, 255, 255, 0.78);
        }
        }
        .btn{
          background-color: $primary;
          border:none;
          border-radius: $radius;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          color: $white;
        
        }
      }
    }
    .right{
      width: 35%;
      .image{
        position: relative;
        background-color: $secondary;
        border-radius: 50%;
        width: 420px;
        height: 420px;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          position: relative;
          z-index: 1;
        }
        &::after{
          // @include overlay($t:-142px,$l:auto,$b:auto,$r:-182px,$w:344px,$h:344px,$bg:$primary,$op:1);
          @include overlay($t:-142px,$l:auto,$b:auto,$r:-182px,$w:82%,$h:82%,$bg:$primary,$op:1);
          border-radius: 50%;
        }
      }
      
    }
    @media (max-width:1024px) {
      .right{
        .image{
          width: 320px;
          height: 320px;
          &::after{
           top:-130px;
           right: -120px;
          }
        }
      }
    }
    @media (max-width:991px) {
      .right{
        .image{
          width: 240px;
          height: 240px;
        &::after{
  top:-64px
        }
        }
      }
    }
    @media (max-width:767px) {
      .left{
        width: 100%;
        p{
          max-width: 100%;
        }
      }
      .right{
  margin-top: 30px;
      }
      .content{
        display: block;
      }
    }
  }
  //innerBanner
  .inner-banner{
    padding: 140px 0;
    background-color: $extra;
    text-align: center;
    position: relative;
    .pattern{
        position: absolute;
        top:12px;
        right:12px;
        &.bottom{
            right:auto;
            top:auto;
            bottom: 12px;
            left:12px;
            transform: rotate(180deg);
        }
    }
    h3{
        font-size: 48px;
    }
    .breadcrumb{
        background-color: transparent;
        justify-content: center;
        .breadcrumb-item{
            font-size: 24px;
           a{ color: $white;text-decoration: none;}
           &.active{
               color: $primary;
           }
        }
    }
    @media (max-width:575px) {
        padding: 40px 0;
        h3{
            font-size: 24px;
        }
        .pattern{
            img{
            width: 100px;
            }
        }
        .breadcrumb{
            .breadcrumb-item{
                font-size: 14px;
             
            }
        }
    }

}
  .blog-section{
    .left{
      .action{
        
        margin-bottom: 100px;
        .btn{
          @include btn;
          background-color: transparent;
          border: 2px solid $primary;
          font-size: 18px;
          &:hover{
         background-color: $hover;
          }
        }
      }
    }
    .right{
    .searchArea{
  form{
    background-color: $secondary;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  input{
    padding: 0 16px;
    flex:1;
    font-size: 14px;
    color: $white;
    &::placeholder{opacity: 0.7;}
    background-color: transparent;
    border: none;
    &:focus{
      outline: none;
    }
  }
  button{
    background-color: $primary;
    border:none;
    padding: 16px;
  }}
    }
    .head{
      font-size: 24px;
      margin-top: 40px;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      &.posts{
        li{
          display: flex;
          background-color: $secondary;
          border-radius: $radius;
          overflow: hidden;
          margin-bottom: 24px;
          &:last-child{
            margin-bottom: 0;
          }
          .image{
            width: 30%;
            img{height: 100%;
            object-fit: cover;
            }
          }
          .text{
            padding: 16px 16px;
            width: 70%;
            h4{
              font-size: 18px;
              margin-bottom: 6px;
              font-weight: normal;
              text-transform: capitalize;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p{
              font-size: 12px;
              margin-bottom: 10px;
              line-height: 120%;
            }
            .left{
              font-size: 14px;
              span{
                margin-right: 12px;
              }
              svg{
                width: 16px;
                height: 16px;
                margin-left: 4px;
              }
            
            }
          }
          img{
            width: 100%;
          }
        }
      }
    }
    .social{
      display: flex;
      a{
        width:40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 32px;
        border-radius: 50%;
        background-color: $primary;
      }
    }
  }
  @media (max-width:991px) {
    .right{
      .searchArea{
        margin-top: 40px;
      }
    }
  }
  }
  //card css for individual blog
  .card{
    border:none;
    margin-bottom: 32px;
    border-radius: $radius;
    overflow: hidden;
    background-color: $secondary;
    .image{
        img{
            height: 216px;
            width: 100%;
            object-fit: cover;
        }
        position: relative;
        .play{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 84px;
            height: 84px;
            border-radius: 50%;
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                fill: $white;
            }
        }
    }
    .text{
        padding: 32px 32px;
        background-color:$secondary;
        color: $white;
        h3{
            margin-bottom: 4px;
            font-size: 24px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
                color: $white;
                transition: all 0.4s;
                text-decoration: none;
                &:hover{
                    color: $primary;
                }
            }
        }
        p{
            margin:12px 0;
        }
        .btn{
            @include btn();
            margin-bottom: 12px;
        }
       .actions{
           display: flex;
           justify-content: space-between;
           align-items: center;
        .left,.right{
            display: flex;
            span{
                margin-right: 16px;
                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .right{
            svg{
                margin-right: 16px;
                transition: all 0.4s;
            }
            a{
               &:hover{
                   svg{
                       stroke: $primary;
                   }
               }
               &:last-child{
                   svg{
                       margin-right: 0;
                   }
               }
            }
        }
       } 
    }
}
  .about-us{
    // margin:100px 0;
    margin-top: 100px;
    text-align: center;
    background-color: $extra;
    padding: 30px 0;
    position: relative;
    padding-bottom: 40px;
    .bg{
      position: absolute;
      right:20px;
      top:20px;
      width: 210px;
      height: 130px;
      &.down{
        right:auto;
        top:auto;
        bottom: 20px;
        left:20px;
        transform: rotate(180deg);
      }
    }
    .heading{
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      span{
        color: $primary;
      }
    }
    p{
      font-size: 14px;
      max-width: 70%;
     margin: 0 auto;
     margin-bottom: 32px;
    }
    img{
      width: 100%;
      height: 336px;
      object-fit: cover;
    }
   .image{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: $radius;
    overflow: hidden;
    .play{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 84px;
        height: 84px;
        border-radius: 50%;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            fill: $white;
        }
    }
   }
  }
  ///contact us page start
  .contact{
    margin: 100px 0;
    .left{
      background-color: $secondary;
      border-radius: $radius;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  
    .form{
      padding:32px 17px;
     
      h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
      }
      .form-group{
        label{
          text-transform: capitalize;
        }
        .form-control{
          background-color: transparent;
          border: 1px solid $white;
          border-radius: $radius;
          padding: 12px 24px;
          height: auto;
          transition: all 0.4s;
          &:focus{
            box-shadow: none;
            border-color: $primary
          }
        }
        textarea{
          &.form-control{
          height: 150px;
        }
        }
      }
      .btn{
        @include btn();
      }
    }
    .right{
      background-color: $primary;
      border-radius: $radius;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      .info{
      padding:32px 17px;
      padding-bottom: 100px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 100%;
      h3{
        margin-bottom: 20px;
        font-size: 24px;
      }
      h4{
        margin-bottom: 20px;
        padding-left: 8px;
        position: relative;
        font-size: 24px;
        &::after{
          @include overlay($t:50%,$l:0,$b:auto,$r:auto,$w:4px,$h:80%,$bg:$dark,$op:1);
          transform: translateY(-50%);
        }
      }
      ul{
        li{
          margin-bottom: 18px;
          display: flex;
          font-size: 16px;
          span{
            display: block;
          }
          svg{
            margin-right: 12px;
          }
        }
      }
      .social{
        display: flex;
        a{
          margin-right: 16px;
        }
      }
      }
    }
    @media (max-width:991px) {
      .left{
        border-radius: $radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius:0 ;
      }
      .right{
        border-radius: $radius;
        border-top-left-radius: 0;
        border-top-right-radius:0 ;
        .info{
          padding-bottom: 32px;
          .bottom{
            margin-top: 72px;
          }
        }
      }
    }
  }
  ////about page starts
  .about-page{
    margin: 100px 0;
    .row{
      &:first-child{
        margin-bottom: 100px;
      }
    }
    .text{
      h3{
        text-transform: capitalize;
        font-size: 36px;
        position: relative;
        margin-bottom: 16px;
        padding-left: 12px;
        line-height: 100%;
        &:after{
          @include overlay($t:50%,$l:0,$b:auto,$r:auto,$w:3px,$h:90%,$bg:$primary,$op:1);
          transform: translateY(-50%);
        }
      }
      p{
        font-size: 16px;
      }
    }
    .img{
      padding-left: 36px;
      position: relative;
  padding-bottom: 36px;
      &::after{
        @include overlay($t:auto,$l:0,$b:0,$r:auto,$w:calc(100% - 36px),$h:calc(100% - 36px),$bg:$secondary,$op:1);
        border-radius: $radius;
      }
      img{
        width: 100%;
        position: relative;
        z-index: 1;
        border-radius: $radius;
      }
    }
    .image{
      position: relative;
      width: 100%;
      height: fit-content;
      border-radius: $radius;
      overflow: hidden;
      img{
        width: 100%;
        height: 336px;
        object-fit: cover;
        position: relative;
        z-index: 1;
      }
      .play{
        z-index: 2;
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
          width: 84px;
          height: 84px;
          border-radius: 50%;
          background-color: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
          svg{
              fill: $white;
          }
      }
     }
     @media (max-width:767px) {
  .text{
    margin-bottom: 28px;
  }
     }
     @media (max-width:575px) {
      margin: 50px 0;
      .row{
        &:first-child{
          margin-bottom: 50px;
        }
      }
       .text{
         h3{
           font-size: 24px;
         }
         p{
           font-size: 14px;
         }
       }
       .image{
         img{
           height: 200px;
         }
         .play{
           width: 40px;
           height: 40px;
          svg{
  width: 16px;
  height: 16px;
           }
         }
       }
     }
  }
  //form loginregister
  //login-register-page
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-area{
  padding: 40px 0;
  background-color: $secondary;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  h5{
    text-align: center;
    margin: 10px 0;
    font-weight: lighter;
    font-size: 16px;
  }
  .link{
    text-align: center;
    display: block;
    color: $white;
  }
.register{
  .lg{
    color: $white;
  }
  .rg{
    // color: $primary;
    background-color: $primary;
  }
  .form{
    &.login{
  display: none;
    }
&.register{
  display: block;
  animation-name: fade-in;
  animation-duration:0.4s;
  animation-timing-function:ease-in;
}
  }
 }
.login{
  
  .lg{
    color: $white;
    background-color: $primary;

  }
  .rg{
    color: $white;
  }
  .form{
    &.login{
      animation-name: fade-in;
  animation-duration:.4s;
  animation-timing-function:ease-in;
      display: block;
    }
&.register{
  display: none;
}
  }
}
  h3{
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: $white;
   display: flex;
   align-items: center;
     justify-content: center;
      border: 1px solid rgba(255, 255, 255, 0.4);
      width: fit-content;
      border-radius: $radius;
    a{
      color: $white;
      text-decoration: none;
      border-radius: $radius;
      width: 180px;
      height: 58px;
      font-weight: lighter;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .form{
    background-color:$extra;
    padding: 40px 64px;
    border-radius: $radius;
   
    form{
      .form-group{
   
        label{
          margin-bottom: 16px;
          position: relative;
          a{
            color: $primary;
            opacity: 1;
          }
        }
.form-control{background-color: transparent;
  border-radius: $radius;
  height: 40px;
  color: $white;
&:focus{
  box-shadow: none;
  border-color: $primary;
}
}
input[type=checkbox]{
  visibility: hidden;
}
.checkmark {
  position: absolute;
  top: 3px;
  left: -21px;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  background-color: $white;
  &::after {
    display: none;
    content: "";
    position: absolute;
    left: 6px;
    bottom: 4px;
    width: 6px;
    height: 12px;
    border: solid $primary;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
input:checked ~ .checkmark:after {
  display: block;
}
margin-bottom: 38px;
      }
      .form-check{
        justify-content: space-between;
        display: flex;
        font-size: 14px;
        margin-bottom: 28px;
        a{
          color: $white;
          opacity: 0.4;
          text-decoration: none;
        }
      }
      .btn{
        width: 100%;
        background-color: $primary;
        padding: 12px;
        border-color: $primary;
        border-radius: $radius;
        &:active{
          background-color: $hover;
          box-shadow: none;
          border-color: $hover;
        }
        &:focus{
          box-shadow: none;
        }
      }
    }
  }
  @media (max-width:575px) {
    h3{
      font-size: 16px;
      a{
        width: 120px;
        height: 40px;
      }
    }
    .form{
      padding: 40px;
    }
  }
}
.loader-page{
  height: 100vh;
  .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
      width: 250px;
      height: 50px;
      border: 4px solid $white;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        height: 100%;
        background-color: $primary;
        animation-name:load;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    @keyframes load {
      to{
        width: 100%;
      }
      from{
        width: 0;
      }
    }
    }
  }
}
////admin page
.admin-page{
  form{
    .form-group{
 
      label{
        margin-bottom: 16px;
        position: relative;
        a{
          color: $primary;
          opacity: 1;
        }
      }
.form-control{background-color: transparent;
border-radius: $radius;
height: 40px;
color: $white;
&:focus{
box-shadow: none;
border-color: $primary;
}
}
input[type=checkbox]{
visibility: hidden;
}
.checkmark {
position: absolute;
top: 3px;
left: -21px;
height: 16px;
width: 16px;
border-radius: 4px;
background-color: $white;
&::after {
  display: none;
  content: "";
  position: absolute;
  left: 6px;
  bottom: 4px;
  width: 6px;
  height: 12px;
  border: solid $primary;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
}
input:checked ~ .checkmark:after {
display: block;
}
margin-bottom: 38px;
    }
    .form-check{
      justify-content: space-between;
      display: flex;
      font-size: 14px;
      margin-bottom: 28px;
      a{
        color: $white;
        opacity: 0.4;
        text-decoration: none;
      }
    }
    .btn{
      width: 100%;
      background-color: $primary;
      padding: 12px;
      border-color: $primary;
      border-radius: $radius;
      &:active{
        background-color: $hover;
        box-shadow: none;
        border-color: $hover;
      }
      &:focus{
        box-shadow: none;
      }
    }
  }
}